/* En gros c la ou tu vas mettre les classe css communes via les diff pages, (pas pour pc, tablette ext...) */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/*   font-family: "DM Serif Display", serif; */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*   font-family: "Public Sans", sans-serif; */

:root {
	--main-color: #ba4270;
	--main-second-color: #e1e1e1;
	--secondary-color: #36536b;
	--secondary-second-color: #1b262f;
	--secondary-third-color: #da6d97;
	--secondary-fourth-color: #6c8294;
	--button-main-color: #ba4270;
	--button-hover-color: #da6d97;
	--button-disabled-color: #ba4270 #36536b40;
	--button-secondary-color: #1b262f;
	--button-secondary-hover-color: #ffffff;
	--button-secondary-dark-color: #36536b;
	--button-secondary-hover-dark-color: #36536b;
	--checkbox-normal-color: #36536b;
	--checkbox-active-color: #ba4270;
	--checkbox-disabled-color: #36536b;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.nav-1 {
	display: none;
}
.button {
	display: none;
}
@media screen and (min-width: 768px) {
	nav {
		margin: 35px;
	}
	.nav-2 {
		display: flex;
		gap: 50px;
	}
	.nav-1 {
		display: flex;
		gap: 50px;
	}

	.nav-1 a {
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		color: #36536b;
	}


	.button {
		display: block;
		background-color: rgba(186, 66, 112, 1);
		border-radius: 24px;
		color: white;
		font-size: 18px;
		font-weight: 700;
		padding:5px;
	}
	.Icon-burger {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	nav {
		margin: 35px;
	}
	.nav-2 {
		display: flex;
		gap: 50px;
	}
	.nav-1 {
		display: flex;
		gap: 50px;
	}

	.nav-1 a {
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		color: #36536b;
	}
	.button {
		display: block;
		background-color: rgba(186, 66, 112, 1);
		border-radius: 24px;
		color: white;
		font-size: 18px;
		font-weight: 700;
		padding:8px;
	}
	.Icon-burger {
		display: none;
	}
}